.activities {
  padding-top: 60px;
  padding-bottom: 98px;
}
.active-card {
  background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%),
                    url('../images/bar.jpg');
  border-radius: 6px; 
  width: 255px;
  height: 255px;
  position: relative;
  &--golf {
    background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%),
    url('../images/golf.jpg');
  }
  &--waterfall {
    background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%),
    url('../images/waterfall.jpg');
  }
  &--marine {
    background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%),
    url('../images/marine.jpg');
  }
}
.active-card__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  bottom: 72px;
  padding-left: 26px;
  padding-right: 28px;
}
.book-btn--active {
  position: absolute;
  bottom: 24px;
  left: 26px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 10px 22px;
}