.footer {
  padding-top: 108px;
  padding-bottom: 46px;
  background: $bg-element;
}
.footer-title {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  padding-bottom: 34px;
  color: #fff;
  text-transform: uppercase;
}
.footer-link {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
}
.footer-list {
  padding-left: 0;
}
.network-list {
  display: flex;
}
.network-list__link {
  color: #fff;
}
.network-list__item {
  &:nth-child(2) {
    margin: 0 10px 0 10px;
  }
}
.network-block {
  display: flex;
}
.map-pin,
.phone-call,
.icon-mail {
  color: #fff;
  margin-right: 22px;
}
.phone-call {
  display: block;
  padding-top: 28px;
}
.phone-list {
  padding-top: 28px;
  padding-left: 0;
}
.phone-list__item,
.phone-list__link,
.mail-link {
  font-size: 14px;
  line-height: 1.6;
  color: #bdbdbd;
}
.footer-inputs {
  height: 50px;
  width: 100%;
  display: block;
  border-radius: 4px;
  margin-bottom: 15px;
  &::placeholder {
    padding-left: 22px;
    font-size: 12px;
    line-height: 15px;
    color: #bdbdbd;
  }
}
.textfield {
  width: 100%;
  border-radius: 4px;
  padding-top: 18px;
  margin-bottom: 15px;
  &::placeholder {
    padding-left: 22px;
    font-size: 12px;
    line-height: 15px;
    color: #bdbdbd;
  }
}
.book-btn--footer {
  padding: 18px 52px;
  font-size: 12px;
  line-height: 15px;
  @include media-breakpoint-up(sm) {
    padding: 18px 66px;
  }
}
.required {
  font-size: 12px;
  line-height: 15px;
  color: #e0e0e0;
  font-weight: 700;
  text-align: right;
}
.confirm-row {
  align-items: center;
  justify-content: space-between;
}
.footer_bottom {
  margin-top: 102px;
  display: flex;
  padding-left: 0;
}
.footer_bottom__link {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #fff;
}
.footer_bottom__item {
  &:nth-child(2) {
    margin: 0 10px;
  }
}
.platforms {
  margin-top: 102px;
  text-align: right;
}
.support {
  display: flex;
  justify-content: flex-end;
}