.other_section {
  background-color: #f5fafe;;
}
.hotel-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #0a223d;
  border-radius: 8px;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}
.title-h2 {
  padding-top: 105px;
  padding-bottom: 65px;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}
.hotel-card__img {
  width: 100%;
  border-radius: 8px;
  @include media-breakpoint-up(lg) {
    width: auto;
  }
}
.hotel-card__flash {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px 8px 12px;
  background: #ec1f46;
  border-radius: 0px 4px 4px 0px;
  top: 34px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}
.hotel-card__info {
  margin-left: auto;
  margin-right: auto;
  padding: 44px 15px 30px 15px;
  @include media-breakpoint-up(sm) {
    padding: 44px 0 30px 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 0 5px 0 5px;
  }
  @include media-breakpoint-up(xl) {
    padding: 44px 0 0 0;
  }
}
.hotel-card__title {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  font-size: 700;
  color: #fff;
}
.hotel-card__text {
  font-size: 14px;
  line-height: 160.6%;
  font-weight: 400;
  max-width: 300px;
  padding-top: 26px;
  padding-bottom: 20px;
  color: #fff;
  text-align: justify;
}
.hotel-card__service {
  display: flex;
  flex-direction: column;
}
.hotel-card__icon {
  color: #fff;
}
.hotel-card__icon:nth-child(2) {
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon-text {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  margin-left: 15px;
}
.hotel-card__old-price {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  display: block;
  padding-top: 34px;
  text-decoration-line: line-through;
}
.price-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}
.book-btn {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding: 10px 26px;
  background: #ec1f46;
  border-radius: 4px;
  border: none;
}
.hotel-card--sm {
  margin-top: 30px;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    margin-top: 0;
    margin-bottom: 30px;
  }
}
.hotel-card__info--sm {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 32px;
  margin-right: 20px;
}
.hotel-card__img--sm {
  border-radius: 8px 8px 0 0;
}
.hotel-card__title--sm {
  padding-bottom: 22px;
}
.hotel-card__old-price--sm {
  padding-top: 24px;
}
.hotel-card__flash--sm {
  font-size: 8px;
  line-height: 10px;
}